ul{
	list-style-type: none;
}
.fileUpload {
    position: relative;
    overflow: hidden;
   	margin-left:0px;
	
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


input[type="text"] {
  display: block;
  margin: 0;
  width: 40%;
  height: 40px;
  font-family: sans-serif;
  font-size: 14px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

.ib{
	display: inline-block !important;
}

.mt10{
	margin-top: 10px;
}

.mt20{
	margin-top: 20px;
}

.mt5{
	margin-top: 5px;
}


.ml100{
	margin-left:100px;
}

.mt50{
	margin-top: 50px;
}

.mt100{
	margin-top: 100px;
}

.mb50{
	margin-bottom: 50px;
}

.ml10{
	margin-left:10px;
}

.ml5{
	margin-left:5px;
}

.ml4{
	margin-left:4px;
}

.ml3{
	margin-left:3px;
}

.ml2{
	margin-left:2px;
}

.ml1{
	margin-left:1px;
}

.add-option{
	max-width:50px;
	height:38px;
}
.mw400 {
	max-width: 400px;
}
.mh400 {
	max-height: 400px;
}
.mw300 {
	max-width: 300px;
}
.mh300 {
	max-height: 300px;
}
.mw200 {
	max-width: 200px;
}
.mh200 {
	max-height: 200px;
}
.mw100 {
	max-width: 100px;
}
.mh100 {
	max-height: 100px;
}
.mw50 {
	max-width: 50px;
}
.mh50 {
	max-height: 50px;
}


.chosenAnswer {
	border-color:#ff3300;
}


.img-hover img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
  	-moz-transition: all .3s ease; /* Firefox */
  	-o-transition: all .3s ease; /* IE 9 */
  	-ms-transition: all .3s ease; /* Opera */
  	transition: all .3s ease;
}
.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(8); /* Safari and Chrome */
    -moz-transform:scale(8); /* Firefox */
    -ms-transform:scale(8); /* IE 9 */
    -o-transform:translatZ(0) scale(8); /* Opera */
    transform:translatZ(0) scale(8);
}
  
  
.grayscale {
  -webkit-filter: brightness(1.10) grayscale(100%) contrast(90%);
  -moz-filter: brightness(1.10) grayscale(100%) contrast(90%);
  filter: brightness(1.10) grayscale(100%); 
}

.pointer{
	cursor: pointer;
}