 <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<div class="row container">
	<div class="row col-xs-6 mt20">
		<p class="row col-xs-3">Bir Ders Seçin :</p>
		<select class="col-xs-3" ng-model="selectedLesson"
			ng-init="selectedLesson.lessonName = 'Seçiniz...'"
			ng-options="lesson as lesson.lessonName for lesson in lessons"
			ng-change="changeLesson(selectedLesson);"></select>
	</div>
    <table ng-if="questions" class="table table-hover row row-offcanvas mt20">
    <thead>
      <tr>
        <th>Soru Açıklaması</th>
        <th>Soru Resmi</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="question in questions" style="height:55px; !important">
        <td ng-click="showQuestion(question);">{{question.questionDef}}</td>
        <td><img class="mw50 mh50" ng-if="question.questionPic" ng-src="data:image/JPEG;base64,{{question.questionPic}}"/></td>
      </tr>
    </tbody>
  </table>
		
</div>
