	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<div class="row container">
 		<div class="fileUpload btn btn-warning row">
    		<span class="mt20">Upload a question</span>
    		<input type="file" class="upload" file-model="uploadme"/> 
    		 	
		</div>
		<div class="row col-xs-12 mt20">	
			<img class="mw400 mh400" ng-src="{{questionPic}}"></img>
		 
		</div>	
		<div class="row col-xs-12 mt20">
			<p>Bir Ders Seçin : </p>
				<select ng-model="selectedLesson" ng-init="selectedLesson.lessonName = 'Seçiniz...'" ng-options="lesson as lesson.lessonName for lesson in lessons"></select>
				
		</div>
		<div class="row mt20 col-xs-12">
			<input type="text" class="col-xs-12" ng-model="questionDef"  placeholder="Soru hakkında birşeyler yazın"/>
			<div class="row mt20 col-xs-12">
				<div class="row ml1">
					<input type="text" class="col-xs-11 mt20" placeholder="Bir seçenek girin" ng-model="option"/>
					<button type="button" ng-click="pushOption(option);" class="glyphicon glyphicon-plus col-xs-1 ml5 add-option"></button>
			
				</div>
				<div class="row col-xs-12 mt20" ng-repeat="option in questionOptions">
					<input type="text" class="col-xs-11 ng-valid ng-dirty" ng-class="{chosenAnswer: $index == chosenAnswer }"
						ng-model="option.text" ng-change="updateOption(option.text, $index);" value="{{option.text}}" 
						ng-click="updateAnswerId($index);"/>
					<button type="button" ng-click="removeOption(option);" class="glyphicon glyphicon-minus col-xs-1 ml5 add-option"></button>
				</div>
			</div>
		</div>		    	
		<div class="row col-xs-12 mt50">
			<button type="button" class="btn btn-primary" ng-click="upload()">Soru Ekle</button>  				
		</div>
	</div>

